<mat-drawer-container class="sidenav">
  <mat-drawer mode="side" opened>
    <h2 class="headerClass">All Racks</h2>
      <ul class="rack">
        <li *ngFor="let rack of racks">
          <span class="rackIds" (click)="onSelect(rack)">
            {{rack.id}}
          </span>
          <button class="delete" title="delete rack"
          (click)="deleteRack(rack)">x</button>
        </li>
      </ul>
    <button mat-raised-button class="addRackBtn" mat-button (click)="openNewRackDialog()">Add Rack</button>
    <br>
    <button mat-raised-button class="rackListBtn" (click)="onRackListClick()">Show List</button>
  </mat-drawer>
  <mat-drawer-content>
    <app-rack [selectedRack]="selectedRack"></app-rack>
    <app-rack-list *ngIf="rackListClicked" (valueChange)="hideRackList($event)"></app-rack-list>
  </mat-drawer-content>
</mat-drawer-container>