<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side">
    <h2 class="headerClass">All Racks</h2>
      <ul class="rack">
        <li *ngFor="let rack of racks">
          <span class="rackIds" (click)="onSelect(rack)">
            {{rack.id}}
          </span>
          <button class="delete" title="delete rack"
          (click)="deleteRack(rack)">x</button>
        </li>
      </ul>
    <button mat-raised-button class="addRackBtn" mat-button (click)="openDialog()">Add Rack</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button class="toggleBtn" mat-button (click)="sidenav.toggle()">Show Racks</button></p>
    <app-new-rack *ngIf="addRackClicked" (valueChange)="hideAddRackForm($event)"></app-new-rack>
    <app-rack *ngIf="!addRackClicked" [selectedRack]="selectedRack"></app-rack>
  </mat-sidenav-content>
</mat-sidenav-container>